<div class="row">
          <div class="bg-banner">
            <div class="container">
                  <div class="row" style="height:680px;">
                        <div class="col-md-8 col-md-offset-5 col-sm-6 col-sm-offset-2 col-xs-12 mlt">
                            <h1 style="color: #ffffff;font-family: 'Lato','Helvetica Neue',Helvetica,Arial,sans-serif;font-weight: 700;font-size: 4em;">
                                Welcome Admin !
                            </h1>
                      </div>
                  </div>
              </div>
          </div>
</div>

