<!-- <input #search class="search" type="text" placeholder="Search..." (keydown.enter)="onSearch(search.value)">
<span (onclick)="a">create</span>
<div class="offset-md-2 col-9">
        <ng2-smart-table 
                [settings]="settings1"
                [source]="source1"
                (createConfirm)="onCreateConfirm($event)"
                (editConfirm)="onEditBucket($event)"
                (deleteConfirm)="onDeleteBucket($event)">
        </ng2-smart-table>
</div> -->
<div>
        <app-table></app-table>
</div>